:root{
    --main-color: #222222;
    --border: 1px solid #FAFAFA;
    --pfont-size: 1.5rem;
    --sub-color: #FAFAFA;
    --border-radius: 3px;
    --padding: 1.5rem;
    --padding-smaller: 1rem;
    --font-weight: 800;
    --font-weight-bigger: 850;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    max-width: 40vw;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .6);
    border: var(--border);
    background: linear-gradient(70deg, var(--main-color), black);
}
.container .buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
.display{
    padding: var(--padding-smaller);
    margin-bottom: 1rem;
    font-size: var(--pfont-size);
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    pointer-events: none;
    height: fit-content;
    color: var(--main-color);
    font-weight: var(--font-weight);
}
.buttons button{
    padding: var(--padding-smaller) .6rem;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    cursor: pointer;
    background-color: inherit;
    color: var(--sub-color);
    border: var(--border);
    font-size: var(--pfont-size);
}
.buttons button:hover{
    background-color: var(--sub-color);
    color: var(--main-color);
    font-weight: var(--font-weight);
}
.buttons .operator{
    font-weight: var(--font-weight-bigger);
    color: var(--sub-color);
}
